#navigation {
  background-color: white !important;
}
#header-img {
  height: 4rem;
  width: auto;
}
.navLinks {
  margin-left: 55%;
}
.navItems {
  margin: 0px 20px;
}
.navItems a {
  font-size: 22px;
  padding: 10px 0px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navItems .other-links {
  color: rgb(6, 146, 6) !important;
}
.navItems a:hover {
  color: rgb(6, 146, 6) !important;
  font-weight: bold;
}
.navItems .active {
  color: rgba(6, 146, 6, 0.803) !important;
  font-weight: bold;
  border: 3px solid;
}
.custom-toggler.navbar-toggler {
  border-color: white;
}
.align-center {
  text-align: center;
}

.fixed-button {
  font-family: sans-serif;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 50px;
  background-color: #171717b3;
  color: #fff;
  padding: 1px;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.fixed-button:hover {
  background-color:   #34333377;
}

@media screen and (max-width: 1190px) {
  .navLinks {
    margin-left: 40%;
  }
}
@media screen and (max-width: 1090px) {
  .navLinks {
    margin-left: 33%;
  }
}
@media screen and (max-device-width: 991px) {
  .navLinks {
    margin-left: 0;
  }
  .navItems a {
    text-align: center;
  }
}
@media (max-width: 800px) {
  #header-img {
    height: 4rem;
  }
}
