html{
    padding: 0;
    margin: 0;
    width: auto;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #54ace6dd;
    width: fit-content;
    height: fit-content;
    touch-action: none;
    cursor: pointer;
    overflow: hidden;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
.bg-light{
    background-color: #f2e9e4!important;
    width: 105%;
}
.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    font-weight: 600;
    color: #052e76 !important;
    padding-left: 20px;
}
.nav-link{
    margin-right: 50px;
    color: #052e76 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover{
    background-color: #cea61343;
    border: 1px solid;
    border-radius: 15%;
}

.hero-content{
    height: 100vh;
    background-color: #094a9a;
    color: #ffffff;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 40rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 40rem;
    margin-bottom: 0vh;
    padding-left: 80px;
    padding-top: 80px;
}
.hero-img{
    height: 70vh;
    width: 110%;
    padding-right: 90px;
}

.get-started{
    border-radius: 0.85rem;
    padding: 1rem 2rem;
    font-size: 162%;
    font-weight: 600;
    background-color: #fff;
    color: #052e76 !important;
    transition: 0.3s;
}
.get-started:hover{
    text-decoration: none;
    background-color: #d1e6d6f0;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.fixed-button {
    font-family: sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 50px;
    background-color: #171717b3;
    color: #fff;
    padding: 1px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  .fixed-button:hover {
    background-color:   #34333377;
  }
